accelerate
diffusers
einops
evaluate
h5py
huggingface-hub
httpx
matplotlib
numpy
omegaconf
open-clip-torch
pandas
pillow
pyyaml
safetensors
scipy
sentence-transformers
torch
torchvision
tqdm
transformers
webdataset
